ReportManager/Connected Services/ReportServiceReference/Core.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommonLibrary.Model" />
  <xs:complexType name="ArrayOfActivatedAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivatedAlarm" nillable="true" type="tns:ActivatedAlarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivatedAlarm" nillable="true" type="tns:ArrayOfActivatedAlarm" />
  <xs:complexType name="ActivatedAlarm">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonLibrary.Model" minOccurs="0" name="Alarm" nillable="true" type="q1:Alarm" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TriggeredOn" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivatedAlarm" nillable="true" type="tns:ActivatedAlarm" />
  <xs:complexType name="ArrayOfTagEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagEntity" nillable="true" type="tns:TagEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagEntity" nillable="true" type="tns:ArrayOfTagEntity" />
  <xs:complexType name="TagEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagEntity" nillable="true" type="tns:TagEntity" />
</xs:schema>