ReportManager/Connected Services/ReportServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.Model" />
  <xs:element name="GetAlarmsByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="GetAlarmsByPeriodResult" nillable="true" type="q1:ArrayOfActivatedAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="GetAlarmsByPriorityResult" nillable="true" type="q2:ArrayOfActivatedAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagValuesByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagValuesByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="GetTagValuesByPeriodResult" nillable="true" type="q3:ArrayOfTagEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAITagValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastAITagValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="GetLastAITagValuesResult" nillable="true" type="q4:ArrayOfTagEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastDITagValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastDITagValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="GetLastDITagValuesResult" nillable="true" type="q5:ArrayOfTagEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagValuesById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagValuesByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Core.Model" minOccurs="0" name="GetTagValuesByIdResult" nillable="true" type="q6:ArrayOfTagEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageArrived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>